
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden!important;
}

body{
    margin-top: 76px
}

.App {
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
}

.no-link{
    color: black !important;
    opacity: 1;
    text-decoration: none !important;
}

